<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>

    <link href="/public/index.css" rel="stylesheet"></head>
<body>
<div id="app">
    <%-include(view)%>
</div>
<div id="templates"></div>
<script type="text/javascript" src="/public/index.js"></script></body>
</html>