@import './assets/colors.pcss';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  margin: 0;
  background-color: white;

  > #app {
    border: $pink 2px dotted;
    border-radius: 5px;
    background-color: $ivory;
    margin: 5%;

    > .title {
      padding: 20px 0;
      text-align: center;
      color: $blue;
      font-size: 24px;
      font-family: 'Playfair Display', serif;
    }
  }
}

